@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer utilities {
  .document-links {
    @apply text-[#00AB55] hover:text-[#068c49] duration-300 transition-all ease-in-out underline;
  }

  .btn {
    @apply bg-[#00AB55] text-white font-extralight  rounded-md hover:bg-[#068c49] duration-300 transition-all ease-in-out;
  }
}
